body{
	background:#FFFFFF;
}

.header-site{
	background: #FFFFFF;
}

.title{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 40px;
	color: #FA8072;

}

.input{
	font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    color: #FA8072;
}




